.card_container {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.card {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card__header {
    position: relative;
}

.card__picture {
    position: relative;
    /*-webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);*/
    /*clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);*/
    height: 18rem;
}

.card__picture_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,
            left top,
            right bottom,
            from(#4346f8),
            to(#5aa7ee));
    background-image: linear-gradient(to right bottom, #4346f8, #5aa7ee);
    opacity: 0.7;
}

.card__picture_img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;
}

.card__sub_heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;
}

.card__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
}

.card__data {
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__data svg {
    margin-right: 0.7rem;
}

.card__icon {
    height: 2rem;
    width: 2rem;
    fill: #5aa7ee;
}

.card__footer {
    background-color: #f7f7f7;
    padding: 2.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
}

.card__footer_value {
    font-weight: 700;
}

.card__footer_text {
    color: #999;
}

.card__ratings {
    grid-row: 2 / 3;
}

.card .btn_small,
.card .btn {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
}

/* inputs */
.bus_input {
    margin: auto;
    padding: 1.5%;
}

.input_style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.input_style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}